.moeney-text-components {
  align-items: flex-end;
  color: #FF3232;
  display: inline-flex;

  .money-icon {
    font-size: 12px;
    line-height: 1;
  }

  .money-num-int {
    margin-left: 2px;
    font-size: 16px;
    line-height: 1;
    // vertical-align: text-bottom;
  }

  .money-num-point {
    font-size: 12px;
    line-height: 1;
  }
}