page {

background: #FFFFFF;
}
.login-page{
  padding: 36px;
}
.we-title {
  width: 112px;
  height: 40px;
  font-size: 28px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 40px;
}
.phone-number {
  margin-top: 60px;
  padding-left: 16px;
  width: 303px;
  height: 48px;
  line-height: 48px;
  background: #F4F5F6;
  border-radius: 24px;
  input {
    line-height: 48px;
    height: 48px;
  }
}
.code-container {
  margin-top: 20px;
  .code-numer {
    padding-left: 16px;
    width: 172px;
    line-height: 48px;
    height: 48px;
    background: #F4F5F6;
    border-radius: 24px;
    input {
      line-height: 48px;
      height: 48px;
    }
  }
}

.remind {
  margin-top: 48px;

  .check-image {
    width: 16px;
    height: 12px;
    background: #FFFFFF;
    margin-right: 4px;
  }
  .view-text {
    display: inline;
    width: 150px;
    height: 14px;
    font-size: 10px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
  }

  .color-red {
    color: #FF3232;
  }
}

.login-btn {
  margin-top: 20px;
  width: 303px;
  height: 48px;
  background: #FF3232;
  border-radius: 24px;
  color: #FFFFFF;


  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;


}