page{
  background: #F4F5F6;
  overflow: hidden;
}
.order-page{
  padding: 16px 17px 16px 15px;
  .search-b {
    
  }
  .tabs-b {
    margin-top: 18px;
  }
  .order-card-b {
    margin-top: 24px;
    .order-card-item {
      margin-bottom: 16px;
    }
  }
}
