.promotional-section-components{
    width: 100%;
    .promotional-section-item{
        width: 100%;
        height: 102px;
        image {
            width: 100%;
            height: 100%;
        }
    }
    
}
