page{
  background-color: #F4F5F6;
}
.page-bg-image {
  background-size: 100% 290px;
}
.index-page{
  .page-container-component {
    // min-height: 600px !important;;
    // height: 578px !important;
  }
  .search-b {
    margin-top: 16px;
    padding: 0 16px;
  }
  // <!-- 广告板 -->
  .swiper-b {
    margin-top: 16px;
    padding: 0 16px;
    overflow: hidden;
    height: 116px;
    .banner-image {
      width: 343px;
      height: 116px;
      border-radius: 8px;
    }
  }
  // <!-- 特色项目 -->
  .feature-b {
    margin-top: 16px;
    padding: 0 16px;

    height: 14px;
    font-size: 10px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 14px;
  }
  //  <!-- 活动种类 -->
  .active-b {
    margin-top: 16px;
    padding: 0 16px;
  }
  //  推荐商品
  .tuijian-good-b {
    margin-top: 16px;
    padding: 0 16px;
  }
  //  推荐活动
  .tuijian-active-b {
    margin-top: 16px;
    padding: 0 16px;
  }
  .sticky-b {
    margin-top: 16px;
    padding: 6px 16px 8px;
    .category-list{
      margin-top: 16px;
    }
  }
  .good-card-b {
    position: relative;
    .good-list {
      width: 100%;
      .good-card-item {
        padding: 0 16px;
        margin-bottom: 16px;
      }
    }
  }
}
