page {
  background-color: #F4F5F6;
}

.current-position {
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 21px;
}

.index-page {
  .search-b {
    padding-top: 14px;
    padding: 2px 16px 6px
  }

  // <!-- 广告板 -->
  .swiper-b {
    padding: 10px 16px 0;
    overflow: hidden;

    .banner-image {
      width: 343px;
      border-radius: 8px;
    }
  }

  // <!-- 特色项目 -->
  .feature-b {
    padding: 16px;
    font-size: 10px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1;
  }

  .sticky-b {
    margin-top: 16px;
    padding: 6px 16px 8px;

    .category-list {
      margin-top: 16px;
    }
  }

  .good-card-b {
    position: relative;

    .good-list {
      width: 100%;
      padding: 0 16px;
      margin-bottom: 16px;

    }
  }

  .backTop {
    position: fixed;
    right: 16px;
    bottom: 60px;
    z-index: 5;
    width: 44px;
    height: 44px;
  }
}