.active-list {
  margin-top: 16px;

  .item {
    text-align: center;
  }

  .scroll-item {
    flex-shrink: 0;

    &+.scroll-item {
      margin-left: 10px;
    }
  }

  .image {
    width: 36px;
    height: 36px;
  }

  .title {
    height: 18px;
    font-size: 12px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 18px;
  }

  .text {
    height: 14px;
    font-size: 10px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 14px;
  }
}