
.drawer-components{
    .leftBox {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        right: -720px;
        top: 0px;
        z-index: 18;
    }
       
      .left {
        width: 80vw;
        height: 100vh;
        background: #fff;
        position: fixed;
        right: -720px;
        top: 0px;
        transition: all 0.5s; /*动画  */
        z-index: 19;
      }
    .right-0 {
        right: 0px;
    }

}   
    
