.flex {
  display: flex;
}
.flex-c {
  display: flex;
  justify-content: center;
}
.flex-b {
  display: flex;
  justify-content: space-between;
}
.flex-a {
  display: flex;
  justify-content: space-around;
}
.flex-end{
  justify-content: flex-end;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-cm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
