.xxx-components{
    
}
.share-wechat {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
}
.btns {
    &-item{
        position: relative;
        margin-top: 16px;
        margin-right: 24px;
        text-align: center;
        .image {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
        .label {
            height: 20px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
            line-height: 20px;
        }
    }
}
.cancel {
    height: 50px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 600;
    color: #333333;
}

.posterImage {
    position: fixed;
    top: 69px;
    left: 76px;
    height: 400px;
    width: 224px;
}