.order-good-components{
  position: relative;
  .order-status {
    position: absolute;
    right: 0;
    top: 12px;
  }

  .good-info {
    margin-top: 20px;
  }

  .more-order {
    width: 32px;
    height: 32px;
  }
}
